{% extends 'market/base.html' %}

{% block css %}
{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

	<div class="grandParentContainer">
		<div class="parentContainer">

			<form action="/accounts/auth/" method="post" id="login">{% csrf_token %}
				<h1>Login</h1>
				<div>
			        <input type="text" name="username" value="" id="username"  placeholder="Username">
			        <input type="password" name="password" value="" id="password" placeholder="Password">
			        <br>

					<!-- {% if messages %}
					    {% for message in messages %} -->
							<p class="errors">{{ error }}</p>
					    <!-- {% endfor %}
					{% endif %} -->

					{% if error %}
				        <p class="error">Invalid username or password</p>
				    {% endif %}

			        <input type="submit" value="Sign In" id="submit">
			    </div>
			</form>
		</div>
	</div>

{% endblock %}
