{% extends "market/base.html" %}

{% block content %}
    <h1>Your account</h1>

    <!-- Account info -->
    <div>
        <h3>{{ user.username }}</h3>
        <p>{{ user.first_name }}</p>
        <p>{{ user.last_name }}</p>
        <p>{{ user.email }}</p>
    </div>

    <!-- Account services -->
    <div class="container">
        <div class="row">
    		<div class="col-lg-6">
    			<h3>Winning bids:</h3>
    		</div>
            <div class="col-lg-6">
                <h3>Open:</h3>
                {% for service in services_open %}
                    <div class="service">
                        <h1><a href="{% url 'service_detail' pk=service.pk %}">{{ service.title }}</a></h1>
                        <p>{{ service.description|linebreaks }}</p>
                        <div class="date">
                            <p>created: {{ service.created_date }}</p>
                        </div>
                        <a href="{% url 'service_update' pk=service.pk %}">Update</a>
                        <a href="{% url 'service_close' pk=service.pk %}">Close</a>
                    </div>
                {% endfor %}
    			<h3>Closed:</h3>
                {% for service in services_closed %}
                    <div class="service">
                        <h1><a href="{% url 'service_detail' pk=service.pk %}">{{ service.title }}</a></h1>
                        <p>{{ service.description|linebreaks }}</p>
                        <div class="date">
                            <p>created: {{ service.created_date }}</p>
                        </div>
                    </div>
                {% endfor %}
    		</div>
        </div>
	</div>

    <!-- Account reviews -->
    <div class="container">
        <h3>Your reviews...</h3>
        <div class="row">
    		<div class="col-lg-6">
    			<h3>Reviews from clients:</h3>
    			{% if reviews_clients %}
                    <h4>Average Rating: {{ avg_rating_clients }}</h4>
                    {% for review in reviews_clients %}
                        <div class="review">
                            <p>{{ review.rating }}/5 given by <a href="{% url 'user_profile' username=review.author %}">{{ review.author }}</a></p>
                            <p>{{ review.comment }}</p>
                            <div class="date">{{ review.created_date }}</div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>You have no reviews from clients.</p>
                {% endif %}
    		</div>
            <div class="col-lg-6">
                <h3>Reviews from providers:</h3>
                {% if reviews_providers %}
                    <h4>Average Rating: {{ avg_rating_providers }}</h4>
                    {% for review in reviews_providers %}
                        <div class="review">
                            <p>{{ review.rating }}/5 given by <a href="{% url 'user_profile' username=review.author %}">{{ review.author }}</a></p>
                            <p>{{ review.comment }}</p>
                            <div class="date">{{ review.created_date }}</div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>You have no reviews from providers.</p>
                {% endif %}
            </div>
        </div>
	</div>


{% endblock %}
