{% extends "market/base.html" %}

{% block css %}
{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}

<div class="grandParentContainer">
	<div class="parentContainer">
        <form action="/accounts/register/" method="post" id="form">{% csrf_token %}
            <h1>Register</h1>

            {% for field in form %}
                {{ field }}
                <p class="errors">{{ field.errors|striptags }}</p>
            {% endfor %}

            <input type="submit" value="Register" id="submit"/>
        </form>
    </div>
</div>

{% endblock %}
