{% extends "market/base.html" %}

{% block css %}
{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
{% endblock %}


{% block content %}

    <h1 style="text-align:center">All Reviews</h1>
   
    <!-- Account reviews -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="column">
                    <h3>Reviews from clients</h3>
                    {% if reviews_clients %}  
                    <p class="rating">Average Rating: <span class="bold">{{ avg_rating_clients }}</span></p>      
                    {% for review in reviews_clients %}
                        <div class="review">
                            <p class="bold">{{ review.rating }}/5 given by <a href="{% url 'user_profile' username=review.author %}">{{ review.author }}</a> on <span class="date">{{ review.created_date }}</span></p>
                            <p>{{ review.comment }}</p>    
                        </div>                        
                    {% endfor %} 
                    {% else %}
                        <p>You have no reviews from clients.</p>
                    {% endif %} 
                </div>
            </div>
            <div class="col-sm-6">
                <div class="column">
                    <h3>Reviews from providers</h3>
                    {% if reviews_providers %}        
                    <p class="rating">Average Rating: <span class="bold">{{ avg_rating_providers }}</span></p>
                    {% for review in reviews_providers %}
                        <div class="review">
                            <p class="bold">{{ review.rating }}/5 given by <a href="{% url 'user_profile' username=review.author %}">{{ review.author }}</a> on <span class="date">{{ review.created_date }}</span></p>
                            <p>{{ review.comment }}</p>  
                        </div>
                    {% endfor %}
                    {% else %}
                        <p>You have no reviews from providers.</p>
                    {% endif %}
                </div>
            </div>   
        </div>
    </div>

        

{% endblock %}
