{% extends "market/base.html" %}

{% block css %}
{% load staticfiles %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.11/jquery.timepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.11/jquery.timepicker.min.css">
<script src="{% static 'javascript/service_action.js'%}"></script>
<link rel="stylesheet" href="{% static 'css/service_action.css' %}">
{% endblock %}

{% block content %}


<div class="container">
    <div class="myform">
        <h2><strong>{{ action }} Service</strong></h2>
        <br>
        <form action="" method="post">{% csrf_token %}
            {% for field in form %}

            {{ field.label_tag }}
            {{ field.errors }}
            <br>
            {{ field }}
            <br>
            {% endfor %}

            {% if errors %}
            {{errors}}
            {% endif %}

            <br>

            <input type="submit" id="submit" value="{{ action }}" class="btn btn-success"/>
        </form>

    </div>
</div>


{% endblock %}
