{% extends "market/base.html" %}

{% block css %}
{% load staticfiles %}
<script src="{% static 'javascript/service_detail.js'%}"></script>
<script src="{% static 'javascript/jquery.countdown.js'%}"></script>
 <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
{% endblock %}

{% block content %}

    <div id="service">
        <h1>{{ service.title }}</h1>

        <div class="date">{{ service.created_date }}</div>
        {% if is_owner %}
            <p id="owner" style="display: none;">{{ service.client }}</p>
            <p>By: <a href="{% url 'my_account' %}">You</a></p>
        {% else %}
            <p>By: <a id="owner" href="{% url 'user_profile' username=service.client %}">{{ service.client }}</a></p>
        {% endif %}

        <p>{{ service.description|linebreaks }}</p>
        <p>{{ service.location }}</p>

        <p id="final_time" style="display: none;">{{ service.final_time|date:"c" }}</p>
        <div class="countdown">
            Time left:
            <span id="clock"></span>
        </div>

        <p>{{ service.category }}</p>

        <div id="bid">
            $<span id="current_bid">{{ service.bid }}</span>
            <input type='text' id='bidInput' placeholder='Bid'>
            <input type='submit' id='submit' name='submit'>
            <p id="error_bid" style="color: red;"></p>
        </div>

        {% if is_owner %}
            <a href="{% url 'service_update' pk=service.pk %}">Update</a>
            <a href="{% url 'service_close' pk=service.pk %}">Close</a>
        {% endif %}

    </div>

{% endblock %}
