{% extends "market/base.html" %}

{% block content %}
    <h1>Entering user's profile page...</h1>
    
    <!--User's data-->
    <div>
        <h3>{{ user.username }}</h3>
        <p>{{ user.first_name }}</p>
        <p>{{ user.last_name }}</p>
        <p>{{ user.email }}</p>
    </div>
    
    <!--Write a review-->
    <div>
        <a href='add_review'><input type=button value="Write a Review"></a>
    </div>
    
    <!--User's reviews-->
    <div id="account-reviews">
        <h3>{{ user.username }}'s reviews...</h3>
        {% for review in reviews %}
            <div class="review">
               
                <p>{{ review.rating }}/5 given by {{ review.author }}</p>
                <p>{{ review.comment }}</p>
                <div class="date">{{ review.created_date }}</div>
                
            </div>
        {% endfor %}        
    </div>

{% endblock %}




