{% extends "market/base.html" %}

{% block css %}
{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
{% endblock %}


{% block content %}
   
    <div class="container">
        <h1>{{ user.username }}'s profile page</h1>

        <!-- User's info -->
        <div class="profile-info">
            <h3>{{ user.username }}</h3>
            <p>{{ user.first_name }}</p>
            <p>{{ user.last_name }}</p>

            <!-- Write a review -->
            {% if user.is_authenticated and not is_owner %}
            <div>
                <a href='add_review'><input type=button value="Write a Review"></a>
            </div>
            {% endif %}
        
        </div>


        <!-- User's reviews -->
        <div class="row">
            <div class="col-sm-6">
                <div class="column">
                    <h3>Reviews from clients</h3>
                    {% if reviews_clients %}
                    <p class="rating">Average Rating: <span class="bold">{{ avg_rating_clients }}</span></p>
                        {% for review in reviews_clients %}
                            <div class="review">
                                <p class="bold">{{ review.rating }}/5 given by 
                                    {% if review.author == request.user %}
                                        <a href="{% url 'user_profile' username=review.author %}">{{ review.author }} (you)</a> 
                                    {% else %}
                                        <a href="{% url 'user_profile' username=review.author %}">{{ review.author }}</a> 
                                    {% endif %}
                                on <span class="date">{{ review.created_date }}</span></p>                                
                                <p>{{ review.comment }}</p>    
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>{{ user.username }} has no reviews from clients.</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="column">
                    <h3>Reviews from providers</h3>
                    {% if reviews_providers %} 
                    <p class="rating">Average Rating: <span class="bold">{{ avg_rating_providers }}</span></p>
                        {% for review in reviews_providers %}
                            <div class="review">
                                <p class="bold">{{ review.rating }}/5 given by 
                                    {% if review.author == request.user %}
                                        <a href="{% url 'user_profile' username=review.author %}">{{ review.author }} (you)</a> 
                                    {% else %}
                                        <a href="{% url 'user_profile' username=review.author %}">{{ review.author }}</a> 
                                    {% endif %}
                                on <span class="date">{{ review.created_date }}</span></p>
                                <p>{{ review.comment }}</p>   
                            </div>
                        {% endfor %}                    
                    {% else %}
                        <p>{{ user.username }} has no reviews from providers.</p>
                    {% endif %}
                </div>
            </div>
        </div>   
        
    </div>




{% endblock %}
