.jumbotron {
	background-image: url(../Images/black_wood.png);
	color: #FFF;
	background-attachment: repeat;
	min-height: 600px;
	min-width: 500px;
	height: 90vh;
	margin: 0;
	padding-top: 170px;
}

#intro {
	color: white;
	vertical-align: middle;
}

#sign_up {
	font-size: 1.7em;
	width:140px;
	height:45px;
	/*background: #2C3E50;*/
	border: 0;
}
